In [1]:
i = [1, 2, 5]
for j in i:
    print(j)

1
2
5

In [2]:
i = [0, 1, 5]
for j in i:
    print("Information Technology")

Information Technology
Information Technology
Information Technology

In [4]:
# for i in range(5):
#     print("python",i)

for i in range(1, 5):
    print("python",i)

python 1
python 2
python 3
python 4

In [8]:
# for i in range(1, 10, 2):
#     print(i)
# 1 3 5 7 9

# for i in range(10, 1, -2):
#     print(i)
# 10 8 6 4 2

for i in range(10, 2, -2):
    print(i)
# 10 8 6 4

10
8
6
4

In [9]:
for i in range(1, 3):
    for j in range(1, 4):
        print(j*"*")
    print()

*
**
***

*
**
***

In [10]:
i = 2
for j in range(1, 13):
    result = i*j
    print(f"{i} x {j} = {result}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

In [11]:
"""
1
4
7
10
13
"""

for i in range(1, 14, 3):
    print(i)

1
4
7
10
13

In [13]:
"""
-15 -10 -5 0 5
"""
for i in range(-15, 6, 5):
    print(i, end=" ")

-15 -10 -5 0 5

In [15]:
num = int(input("enter your num: "))

for i in range(num):
    print(3*"*")

***
***
***
***
***
***
***

In [18]:
"""
2 4 6
"""

for i in range(1, 7):
    if i%2 == 0:
        print(i, end=" ")

2 4 6

In [22]:
num = int(input("enter num = "))

for i in range(1, num+1):
    k = " "*(num-i)
    print(k + "* " * i)

   *
  * *
 * * *
* * * *